html, body {}

* {
  margin: 0px;
}

body {}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 102, 0, 0.13);
  /* border: 1px solid black; */
  height: 100vh;

  
}

.login-card {
  margin-bottom: 20px;

}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* margin-bottom: 100px; */
}

.login-buttons {
  display: flex;
  justify-content: center;
  display: center;
  /* gap: 10px; */

}

.register-link {
  display: flex;
  justify-content: center;
  display: center;
  margin-top: 15px;
  /* opacity: 0.75; */
  color: rgba(0, 0, 0, 0.788);
}


.register-link-style {
  margin-left: 5px;
}

.register-error-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}